# Appwrite client
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=

# Appwrite server
APPWRITE_API_KEY=

# Appwrite database
APPWRITE_DATABASE_ID=
APPWRITE_PRODUCTS_COLLECTION_ID=
APPWRITE_CATEGORIES_COLLECTION_ID=
APPWRITE_TRANSACTIONS_COLLECTION_ID=
APPWRITE_TRANSACTION_ITEMS_COLLECTION_ID=

# Playwright test account (optional)
USER_EMAIL=
USER_PASS=
